/* 在线链接服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
  font-family: 'iconfont';  /* Project id 3952583 */
  src: url('//at.alicdn.com/t/c/font_3952583_nel0ajeswq9.woff2?t=1692619452723') format('woff2'),
       url('//at.alicdn.com/t/c/font_3952583_nel0ajeswq9.woff?t=1692619452723') format('woff'),
       url('//at.alicdn.com/t/c/font_3952583_nel0ajeswq9.ttf?t=1692619452723') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-game:before {
  content: "\e618";
}

.icon-icon-add:before {
  content: "\e60c";
}

.icon-add-circle:before {
  content: "\e664";
}

.icon-arrow-down:before {
  content: "\e665";
}

.icon-calendar1:before {
  content: "\e667";
}

.icon-notification:before {
  content: "\e679";
}

.icon-more1:before {
  content: "\e67a";
}

.icon-picture:before {
  content: "\e67c";
}

.icon-save:before {
  content: "\e67d";
}

.icon-search:before {
  content: "\e67e";
}

.icon-share1:before {
  content: "\e67f";
}

.icon-select:before {
  content: "\e680";
}

.icon-success:before {
  content: "\e681";
}

.icon-setting:before {
  content: "\e682";
}

.icon-text1:before {
  content: "\e683";
}

.icon-text:before {
  content: "\e60b";
}

.icon-back:before {
  content: "\e61e";
}

.icon-upload-img:before {
  content: "\e61f";
}

.icon-down-arrow:before {
  content: "\e621";
}

.icon-add:before {
  content: "\e613";
}

.icon-reduce:before {
  content: "\e614";
}

.icon-fenxiang:before {
  content: "\e631";
}

.icon-xiugai:before {
  content: "\e604";
}

.icon-file:before {
  content: "\e756";
}

.icon-location:before {
  content: "\e606";
}

.icon-calendar:before {
  content: "\e752";
}

.icon-link:before {
  content: "\e759";
}

.icon-more:before {
  content: "\e75c";
}

.icon-share:before {
  content: "\e760";
}

.icon-trash:before {
  content: "\e763";
}
.icon-store:before {
  content: "\e626";
}

.icon-recycle::before{
  content: "\e6a4";
}

